<form
  autocomplete="off"
  #ofertaFrm="ngForm"
>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="card">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-6 ui-lg-8">
            <h3 class="first">Nome do Cliente</h3>
            <input
              id="input"
              type="text"
              size="30"
              name="desc"
              required
              pInputText
              [(ngModel)]="cartao.nomeCliente"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <h3 class="first">Numero do Cartão</h3>
            <p-inputMask
              name="nProduto"
              placeholder="9999.9999.9999.9999"
              [(ngModel)]="cartao.numeroCartao"
              mask="9999.9999.9999.9999"
            ></p-inputMask>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <h3 class="first">Limite</h3>
            <input
              pInputText
              currencyMask
              required
              name="limiteD"
              [(ngModel)]="cartao.limite"
            >
          </div>
          <div
            class="ui-g-12 ui-md-6 ui-lg-4"
            *ngIf="cartao.id"
          >
            <h3 class="first">Valor Fatura</h3>
            <input
              pInputText
              currencyMask
              required
              name="limite"
              [(ngModel)]="cartao.valorFatura"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <h3 class="first">Expira em?</h3>
            <p-inputMask
              name="expira"
              placeholder="mes/ano"
              [(ngModel)]="cartao.expiraEm"
              mask="99/99"
            ></p-inputMask>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <h3 class="first">Usuario do Cartão</h3>
            <p-dropdown
              [options]="usuarios"
              placeholder="Selecione"
              [(ngModel)]="cartao.usuarioCartao"
              optionLabel="nome"
              name="usuarios"
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button
          type="button"
          [disabled]="ofertaFrm.invalid"
          pButton
          label="Salvar"
          (click)="salvarCartao()"
          class="ui-button-success"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button
          type="button"
          pButton
          label="Cancelar"
          (click)="cancelar()"
          class="ui-button-danger"
        ></button>
      </div>
    </div>
  </div>
</form>
