<form
  autocomplete="off"
  #usuarioFrm="ngForm"
>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="card">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-6 ui-lg-8">
            <h3 class="first">Nome do Usuairo</h3>
            <input
              id="input"
              type="text"
              size="30"
              name="nome"
              required
              pInputText
              [(ngModel)]="usuario.nome"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <h3 class="first">Email</h3>
            <input
              id="input"
              type="text"
              size="30"
              name="email"
              required
              pInputText
              [(ngModel)]="usuario.email"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <h3 class="first">CPF</h3>
            <p-inputMask
              mask="999.999.999-99"
              name="cpf"
              required
              (onComplete)="validarCpf(usuario.cpf)"
              [(ngModel)]="usuario.cpf"
            ></p-inputMask>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <h3 class="first">Senha</h3>
            <input
              type="password"
              name="senha"
              pPassword
              weakLabel="Fraco..."
              mediumLabel="Melhorando..."
              strongLabel="Forte!"
              required
              [(ngModel)]="usuario.senha"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <h3 class="first">Permissão</h3>
            <p-dropdown
              [options]="permissoes"
              placeholder="Selecione"
              [(ngModel)]="permissaoSelecionada"
              optionLabel="nome"
              name="permiss"
            ></p-dropdown>
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-3">
            <p-button
              label="Inserir"
              (click)="inserirPermissao()"
              class="ui-button-success"
            ></p-button>
          </div>
          <div *ngIf="usuario.id">
            <h3 class="first">Ativo</h3>
            <p-radioButton
              name="user"
              [value]="1"
              label="Sim"
              [(ngModel)]="usuario.ativo"
            ></p-radioButton>
            <p-radioButton
              name="user"
              [value]="0"
              label="Não"
              [(ngModel)]="usuario.ativo"
            ></p-radioButton>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g">
      <p-table
        [value]="usuario.permissoes"
        [paginator]="true"
        [rows]="10"
        [responsive]="true"
      >
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 91px;">Codigo</th>
            <th>Nome</th>
            <th>Ação</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-permissao
        >
          <tr>
            <td>{{permissao.id}}</td>
            <td>{{permissao.nome}}</td>
            <td>
              <button
                pButton
                (click)="excluirPermissao(permissao)"
                type="button"
                icon="pi pi-trash"
                pTooltip="Excluir"
                tooltipPosition="top"
                class="ui-button-danger"
              ></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="3">Nenhuma permissão.</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          Existem {{usuario.permissoes?.length}} permissão
        </ng-template>
      </p-table>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <button
        type="button"
        [disabled]="usuarioFrm.invalid"
        pButton
        label="Salvar"
        (click)="salvarUsuario()"
        class="ui-button-success"
      ></button>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
      <button
        type="button"
        pButton
        label="Cancelar"
        (click)="cancelar()"
        class="ui-button-danger"
      ></button>
    </div>
  </div>
</form>
