<form
  autocomplete="off"
  #notifFrm="ngForm"
>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="card">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <h3 class="first">Nome da Notificação</h3>
            <input
              id="input"
              type="text"
              size="10"
              name="desc"
              required
              pInputText
              [(ngModel)]="notificacao.nome"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-8">
            <h3 class="first">Descrição</h3>
            <input
              pInputText
              type="text"
              size="30"
              name="desc"
              required
              name="limite"
              [(ngModel)]="notificacao.descricao"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-2">
            <h3 class="first">Data da oferta</h3>
            <p-calendar
              name="dataNotificacao"
              dateFormat="dd/mm/yy"
              dataType="string"
              [locale]="ptBR"
              [(ngModel)]="notificacao.dataNotificacao"
            ></p-calendar>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button
          type="button"
          [disabled]="notifFrm.invalid"
          pButton
          label="Salvar"
          (click)="salvar()"
          class="ui-button-success"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button
          type="button"
          pButton
          label="Cancelar"
          (click)="cancelar()"
          class="ui-button-danger"
        ></button>
      </div>
    </div>
    {{notificacao | json}}
  </div>
</form>
