<form [formGroup]="formUsuario">
  <div class="card login-panel ui-fluid layout-login">
    <div class="ui-g">
      <div class="ui-g-12">
        <img
          src="../../../../assets/layout/images/avatar.png"
          style="width: 50%;"
        >
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
          <p-inputMask
            mask="999.999.999-99"
            name="cpf"
            formControlName="cpf"
            autocomplete="off"
            class="ui-inputtext ui-corner-all ui-state-default ui-widget"
          ></p-inputMask>
          <label>CPF</label>
        </span>
      </div>
      <div class="ui-g-12">
        <span class="md-inputfield">
          <input
            type="password"
            autocomplete="off"
            name="senha"
            formControlName="senha"
            class="ui-inputtext ui-corner-all ui-state-default ui-widget"
          >
          <label>Senha</label>
        </span>
      </div>
      <div class="ui-g-12">
        <button
          type="button"
          class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
          (click)="logar()"
        >
          <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
          <span class="ui-button-text ui-c">Entrar</span>
        </button>
        <!-- <button
          type="button"
          class="secondary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"
        >
          <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-help"></span>
          <span class="ui-button-text ui-c">Esqueceu a senha?</span>
        </button> -->
      </div>
    </div>
  </div>
</form>
