<p-confirmDialog></p-confirmDialog>
<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g">
        <div class="ui-g-4">
          <span class="ui-float-label">
            <input
              id="float-input"
              type="text"
              size="30"
              [(ngModel)]="filtro.nomeCliente"
              pInputText
            >
            <label for="float-input">Nome do Cliente</label>
          </span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="ui-g">
        <p-table
          [value]="cartoes"
          [paginator]="true"
          [rows]="10"
          [responsive]="true"
        >
          <ng-template pTemplate="caption">
            <button
              pButton
              type="button"
              pTooltip="Novo"
              [routerLink]="['/cartao','novo']"
              tooltipPosition="top"
              icon="pi pi-plus"
              class="ui-button-raised ui-button-success"
            ></button>
            <button
              pButton
              type="button"
              pTooltip="Pesquisar"
              (click)="consultar(filtro)"
              tooltipPosition="top"
              icon="pi pi-search"
              class="ui-button-raised ui-button-info"
            ></button>
            <!-- <button
              type="button"
              pButton
              icon="pi pi-file-pdf"
              iconPos="left"
              label="PDF"
              (click)="gerarRelatorioPdf()"
              class="ui-button-warning"
            ></button> -->
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 91px;">Codigo</th>
              <th>Nome do Cliente</th>
              <th>Cartão</th>
              <th>V.Fatura</th>
              <th>Limite</th>
              <th>Limite Disponivel</th>
              <th>Expira em?</th>
              <th>Ação</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-cartao
          >
            <tr>
              <td>{{cartao.id}}</td>
              <td>{{cartao.nomeCliente}}</td>
              <td>{{cartao.numeroCartao}}</td>
              <td>
                {{cartao.valorFatura | currency:'BRL':'symbol':'1.2-2'}}
              </td>
              <td>
                {{cartao.limite | currency:'BRL':'symbol':'1.2-2'}}
              </td>
              <td>
                {{cartao.limiteDisponivel | currency:'BRL':'symbol':'1.2-2'}}
              </td>
              <td>{{cartao.expiraEm}}</td>
              <td>
                <button
                  pButton
                  [routerLink]="['/cartao',editarCartao(cartao)]"
                  type="button"
                  icon="pi pi-pencil"
                  pTooltip="Editar"
                  tooltipPosition="top"
                  class="ui-button-warning"
                ></button>
                <button
                  pButton
                  (click)="excluirCartao(cartao)"
                  type="button"
                  icon="pi pi-trash"
                  pTooltip="Excluir"
                  tooltipPosition="top"
                  class="ui-button-danger"
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">Nenhuma cartao.</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">Existem {{cartoes?.length}} cartao</ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
