<div
  class="layout-wrapper"
  [ngClass]="{'layout-compact':layoutCompact}"
  (click)="onLayoutClick()"
>

  <div
    #layoutContainer
    class="layout-container"
    [ngClass]="{'menu-layout-static': !isOverlay(),
            'menu-layout-overlay': isOverlay(),
            'layout-menu-overlay-active': overlayMenuActive,
            'menu-layout-horizontal': isHorizontal(),
            'menu-layout-slim': isSlim(),
            'layout-menu-static-inactive': staticMenuDesktopInactive,
            'layout-menu-static-active': staticMenuMobileActive}"
  >

    <app-topbar *ngIf="usuarioSrv.getUsuarioLogado()"></app-topbar>

    <div
      class="layout-menu"
      [ngClass]="{'layout-menu-dark':darkMenu}"
      (click)="onMenuClick($event)"
      *ngIf="usuarioSrv.getUsuarioLogado()"
    >
      <p-scrollPanel
        #scrollPanel
        [style]="{height: '100%'}"
      >
        <app-inline-profile *ngIf="profileMode =='inline'&&!isHorizontal()"></app-inline-profile>
        <app-menu [reset]="resetMenu"></app-menu>
      </p-scrollPanel>
    </div>

    <div class="layout-main">
      <app-breadcrumb *ngIf="usuarioSrv.getUsuarioLogado()"></app-breadcrumb>

      <div class="layout-content">
        <p-growl [(value)]="global.msgs"></p-growl>
        <router-outlet></router-outlet>

        <app-footer *ngIf="usuarioSrv.getUsuarioLogado()"></app-footer>
      </div>
    </div>

    <app-rightpanel *ngIf="usuarioSrv.getUsuarioLogado()"></app-rightpanel>

    <div
      class="layout-mask"
      *ngIf="usuarioSrv.getUsuarioLogado()"
    ></div>
  </div>

</div>
