<p-confirmDialog></p-confirmDialog>
<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g">
        <div class="ui-g-4">
          <span class="ui-float-label">
            <input
              id="float-input"
              type="text"
              size="30"
              [(ngModel)]="filtro.nome"
              pInputText
            >
            <label for="float-input">Solicitado</label>
          </span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="ui-g">
        <p-table
          [value]="solCartoes"
          [paginator]="true"
          [rows]="10"
          [responsive]="true"
          dataKey="id"
        >
          <ng-template pTemplate="caption">
            <button
              pButton
              type="button"
              pTooltip="Pesquisar"
              (click)="consultar(filtro)"
              tooltipPosition="top"
              icon="pi pi-search"
              class="ui-button-raised"
            ></button>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 91px;">Codigo</th>
              <th>Nome</th>
              <th>Cpf</th>
              <th>Ação</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-solCartao
          >
            <tr>
              <td>{{solCartao.id}}</td>
              <td>{{solCartao.nome}}</td>
              <td>{{solCartao.cpf}}</td>
              <td>
                <button
                  pButton
                  (click)="baixarAnexo(solCartao)"
                  type="button"
                  icon="pi pi-trash"
                  pTooltip="Baixar"
                  tooltipPosition="top"
                  class="ui-button-warning"
                ></button>
                <button
                  pButton
                  pTooltip="Endereço"
                  tooltipPosition="top"
                  icon="pi pi-search"
                  (click)="visualizarEndereco(solCartao)"
                ></button>
                <p-toggleButton
                  [(ngModel)]="solCartao.status"
                  onLabel="Autorizado"
                  offLabel="Regeitado"
                  onIcon="pi pi-check"
                  offIcon="pi pi-times"
                  (onChange)="autorizarCartao($event, solCartao)"
                  [style]="{'width':'150px'}"
                ></p-toggleButton>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="4">Nenhuma Solicitação.</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            Existem {{solCartoes?.length}} Solicitaões
          </ng-template>
        </p-table>
      </div>
    </div>
    <p-dialog
      header="Dados do Endereço"
      [modal]="true"
      [responsive]="true"
      [(visible)]="display"
    >
      <div class="ui-g-12 ui-md-9 ui-lg-3">
        <h3 class="first">Rua</h3>
        {{solCartaoSelecionado.logradouro}}
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3">
        <h3 class="first">Numero</h3>
        {{solCartaoSelecionado.numero}}
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <h3 class="first">Complemento</h3>
        {{solCartaoSelecionado.complemento}}
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <h3 class="first">Bairro</h3>
        {{solCartaoSelecionado.bairro}}
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <h3 class="first">Cep</h3>
        {{solCartaoSelecionado.cep}}
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <h3 class="first">Cidade</h3>
        {{solCartaoSelecionado.localidade}} / {{solCartaoSelecionado.uf}}
      </div>
    </p-dialog>
  </div>
</div>
