<div class="ui-g">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <span class="ui-float-label">
          <input
            id="float-input"
            type="text"
            size="30"
            pInputText
          >
          <label for="float-input">Codigo</label>
        </span>
      </div>

      <div class="ui-g-12 ui-md-4 ui-lg-4">
        <span class="ui-float-label">
          <input
            id="float-input"
            type="text"
            size="30"
            pInputText
          >
          <label for="float-input">Codigo</label>
        </span>
      </div>
    </div>
  </div>
</div>
