<p-confirmDialog></p-confirmDialog>
<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g">
        <div class="ui-g-4">
          <span class="ui-float-label">
            <input
              id="float-input"
              type="text"
              size="30"
              [(ngModel)]="filtro.nome"
              pInputText
            >
            <label for="float-input">Notificação</label>
          </span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="ui-g">
        <p-table
          [value]="notificacoes"
          [paginator]="true"
          [rows]="10"
          [responsive]="true"
        >
          <ng-template pTemplate="caption">
            <button
              pButton
              type="button"
              pTooltip="Novo"
              [routerLink]="['/notificacao','novo']"
              tooltipPosition="top"
              icon="pi pi-plus"
              class="ui-button-raised ui-button-success"
            ></button>
            <button
              pButton
              type="button"
              pTooltip="Pesquisar"
              (click)="consultar(filtro)"
              tooltipPosition="top"
              icon="pi pi-search"
              class="ui-button-raised ui-button-info"
            ></button>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 91px;">Codigo</th>
              <th>Nome da Notificação</th>
              <th>Descricao</th>
              <th>Data</th>
              <th>Ação</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-notif
          >
            <tr>
              <td>{{notif.id}}</td>
              <td>{{notif.nome}}</td>
              <td>{{notif.descricao}}</td>
              <td>{{notif.dataNotificacao}}</td>
              <td>
                <button
                  pButton
                  [routerLink]="['/notificacao',editar(notif)]"
                  type="button"
                  icon="pi pi-pencil"
                  pTooltip="Editar"
                  tooltipPosition="top"
                  class="ui-button-warning"
                ></button>
                <button
                  pButton
                  (click)="excluir(notif)"
                  type="button"
                  icon="pi pi-trash"
                  pTooltip="Excluir"
                  tooltipPosition="top"
                  class="ui-button-danger"
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="5">Nenhuma notificacao.</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">
            Existem {{notificacoes?.length}} notifficacao
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
