<form
  autocomplete="off"
  #ofertaFrm="ngForm"
>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="card">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-2 ui-lg-2">
            <div class="circle">
              <img
                src="{{oferta.imagem}}"
                alt
                style="max-width: 100px; height: auto;"
              >
            </div>
            <br>
            <p-fileUpload
              mode="basic"
              name="file"
              auto="true"
              customUpload="true"
              (uploadHandler)="myUploader($event)"
              accept="image/jpeg"
              chooseLabel="Anexar"
            ></p-fileUpload>

            <!-- <p-fileUpload auto="true" mode="basic" customUpload="true" (uploadHandler)="myUploader($event)" chooseLabel="Anexar"></p-fileUpload> -->
          </div>

          <div class="ui-g-12 ui-md-6 ui-lg-8">
            <h3 class="first">Descrição</h3>
            <input
              id="input"
              type="text"
              size="30"
              name="desc"
              required
              pInputText
              [(ngModel)]="oferta.descricao"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <h3 class="first">Nome do Produto</h3>
            <input
              id="input"
              type="text"
              size="30"
              name="nProduto"
              required
              pInputText
              [(ngModel)]="oferta.nomeProduto"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <h3 class="first">Preço Anterior</h3>
            <input
              id="input"
              type="text"
              size="30"
              name="pAnterior"
              currencyMask
              required
              pInputText
              [(ngModel)]="oferta.precoAnterior"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <h3 class="first">Preço Oferta</h3>
            <input
              id="input"
              type="text"
              size="30"
              name="pOferta"
              currencyMask
              required
              pInputText
              [(ngModel)]="oferta.precoOferta"
            >
          </div>
          <div class="ui-g-12 ui-md-6 ui-lg-4">
            <h3 class="first">Periodo Oferta</h3>
            <p-dropdown
              [options]="periodosO"
              placeholder="Selecione"
              [(ngModel)]="oferta.periodoOferta"
              name="periodoOferta"
              required
            ></p-dropdown>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button
          type="button"
          [disabled]="ofertaFrm.invalid"
          pButton
          label="Salvar"
          (click)="salvarOferta()"
          class="ui-button-success"
        ></button>
      </div>
      <div class="ui-g-12 ui-md-6 ui-lg-3">
        <button
          type="button"
          pButton
          label="Cancelar"
          (click)="cancelar()"
          class="ui-button-danger"
        ></button>
      </div>
    </div>
  </div>
</form>
