body {
    .ui-inputtext {
        background: $inputBgColor no-repeat;
        background-image: linear-gradient(to bottom, $primaryColor, $primaryColor), linear-gradient(to bottom, $inputBorderColor, $inputBorderColor);
        background-size: 0 2px, 100% 1px;
        background-position: 50% 100%, 50% 100%;
        transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        border-width: 0;
        padding: 2px;
        font-size: $inputFontSize;
        @include border-radius(0px);

        &:focus,
        &.ui-state-focus {
            border-width: 0;
            background-size: 100% 2px, 100% 1px;
            outline: none;
            padding-bottom: 2px;
        }

        &:disabled {
            border-bottom: 1px dotted;
        }

        &.ui-widget-content {
            border-width: 1px;
            background: $inputBgColor;
            background-image: none;
        }

        &.ui-state-error {
            border-color: $inputBorderErrorColor;
        }

    }

    .ui-inputtext:-webkit-autofill {
        border-color: $inputAutoFillBorderColor;
        border-style: solid;
        border-width: 0px 0px 1px 0px;

        &.ui-state-focus {
            padding-bottom: 0px;
        }
    }

    .ui-widget-header:not(.ui-dataview-header) {
        .ui-inputtext {
            background-image: linear-gradient(to bottom, $headerTextColor, $headerTextColor), linear-gradient(to bottom, lighten($primaryColor,25%),  lighten($primaryColor,25%));
        }
    }

    .md-inputfield {
        display: block;
        position:relative;

        > label {
          color:$inputFieldLaofertaextColor;
          font-weight:normal;
          position:absolute;
          pointer-events:none;
          left:5px;
          top:1px;
          transition: 0.3s ease all;
          -moz-transition: 0.3s ease all;
          -webkit-transition: 0.3s ease all;
        }

        input:focus ~ label,
        input.ui-state-filled ~ label,
        .ui-inputwrapper-focus ~ label,
        .ui-inputwrapper-filled ~ label {
          top:-20px;
          font-size:12px;
          color:$primaryColor;
        }

        .input:-webkit-autofill ~ label {
          top:-20px;
          font-size:12px;
          color:$primaryColor;
        }

        input.ng-dirty.ng-invalid ~ label {
            color: $inputErrorTextColor;
        }

        .ui-message {
            position: absolute;

            &.ui-messages-error {
                background-color: $inputBgColor;
                border: 0 none;
                margin: 0px;
                color: $inputErrorTextColor;
                font-size: .75em;
            }
        }

        &.md-inputfield-fill {
            input {
              background-color: $inputFieldFillBgColor;
              padding-left: 4px;
              padding-right: 4px;
              padding-top: 4px;
            }

            label {
              top: 2px;
            }
            input:focus ~ label,
            input.ui-state-filled ~ label,
            .ui-inputwrapper-focus ~ label,
            .ui-inputwrapper-filled ~ label {
              top:-20px;
              font-size:12px;
              color:$primaryColor;
            }
        }

        &.md-inputfield-box {
            background-color: $inputFieldBoxBgColor;
            height: 44px;

            >*:not(label) {
                bottom: 0px;
                position: absolute;
                background-color: $inputFieldBoxBgColor;
                padding-left: 4px;
                padding-right: 4px;
                padding-top: 24px;
            }

            >label {
                top: 23px;
            }

            input:focus ~ label,
            input.ui-state-filled ~ label,
            .ui-inputwrapper-focus ~ label,
            .ui-inputwrapper-filled ~ label {
                top:1px;
            }

            .input:-webkit-autofill ~ label {
                top:1px;
            }
        }
    }

    .ui-material-message {
        &.ui-message {
            &.ui-messages-error {
                background-color: $inputBgColor;
                color: $inputErrorTextColor;
                border: 0 none;
                margin: 0px;
                font-size: .75em;

                label {
                    top: 4px;
                }
            }
        }
    }

    .ui-listbox {
        min-width: 12.5em;
        background-color: $inputListItemBgColor;
        @include border-radius($borderRadius);

        &.ui-inputtext {
            padding: 0;
        }

        .ui-listbox-list {
            padding: 0;
        }

        .ui-listbox-item {
            overflow: hidden;
            font-size: $inputOptionFontSize;
            padding: $inputOptionPadding;
            margin: 0;
            color: $textColor;
            @include rippleitem();
            @include transition(background-color .3s);
            @include border-radius(0);

            &.ui-state-highlight {
                background-color: $accentColor;
                color: $accentTextColor;
            }
        }

        &:not(.ui-state-disabled) {
            .ui-listbox-item {
                &:not(.ui-state-highlight):hover {
                    @include hover-element();
                }
            }
        }

        .ui-listbox-header {
            @include border-radius(0);
            padding: $inputHeaderPadding;

            .ui-chkbox {
                .ui-chkbox-box {
                    border-color: $inputListItemCheckboxBorderColor;
                }
            }

            .ui-listbox-filter-container {
                .ui-inputtext {
                    padding: 2px;
                    padding-left: 1.5em;
                    color: $inputListItemFilterTextColor;
                }

                .pi {
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    .ui-button, .ui-datepicker-buttonpane > button {
        overflow: hidden;
        background-color: $primaryColor;
        color: $buttonTextColor;
        font-size: $buttonFontSize;
        height: 2.25em;
        padding: 0 1em;
        border: 0 none;
        -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    	box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
        @include transition(background-color .3s);
        vertical-align: middle;

        &:enabled:not(:focus):hover {
            background-color: $primaryDarkColor;
        }

        &:focus {
            outline: 0 none;
            background-color: lighten($primaryColor,10%);
        }

        .ui-button-text {
            padding: 0;
            line-height: 2.25em;
        }

        .pi {
            color: $buttonTextColor;
        }

        &.ui-button-icon-only {
            @include border-radius(50%);
            width: 2.5em;
            height: 2.5em;

            .pi {
                margin-left: -.5em;
            }
        }

        &.ui-button-text-icon-left {
            padding-left: 2.5em;
        }

        &.ui-button-text-icon-right {
            padding-right: 2.5em;
        }

        &.secondary, &.ui-secondary-button {
            background-color: $accentColor;
            color: $accentTextColor;

            &:enabled:not(:focus):hover {
                background-color: $accentDarkColor;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($accentColor,10%);
            }
        }

        &.blue-grey-btn {
            background-color: $blueGrey;

           &:enabled:not(:focus):hover {
                background-color: $blueGreyHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($blueGrey,10%);
            }
        }

        &.cyan-btn {
            background-color: $cyan;

            &:enabled:not(:focus):hover {
                background-color: $cyanHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($cyan,4%);
            }
        }

        &.teal-btn {
            background-color: $teal;

            &:enabled:not(:focus):hover {
                background-color: $tealHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($teal,10%);
            }
        }

        &.red-btn, &.ui-danger-button {
            background-color: $red;

            &:enabled:not(:focus):hover {
                background-color: $redHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($red,10%);
            }
        }

        &.green-btn, &.ui-success-button {
            background-color: $green;

           &:enabled:not(:focus):hover {
                background-color: $greenHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($green,10%);
            }
        }

        &.deep-orange-btn {
            background-color: $deepOrange;

            &:enabled:not(:focus):hover {
                background-color: $deepOrangeHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($deepOrange,10%);
            }
        }

        &.purple-btn {
            background-color: $purple;

            &:enabled:not(:focus):hover {
                background-color: $purpleHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($purple,10%);
            }
        }

        &.pink-btn {
            background-color: $pink;

            &:enabled:not(:focus):hover {
                background-color: $pinkHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($pink,10%);
            }
        }

        &.amber-btn, &.ui-warning-button {
            background-color: $amber;
            color: $textColor;

            &:enabled:not(:focus):hover {
                background-color: $amberHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($amber,10%);
            }
        }

        &.orange-btn {
            background-color: $orange;

            &:enabled:not(:focus):hover {
                background-color: $orangeHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($orange,10%);
            }
        }

        &.brown-btn {
            background-color: $brown;

            &:enabled:not(:focus):hover {
                background-color: $brownHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($brown,10%);
            }
        }

        &.indigo-btn {
            background-color: $indigo;

            &:enabled:not(:focus):hover {
                background-color: $indigoHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($indigo,10%);
            }
        }

        &.blue-btn, &.ui-info-button {
            background-color: $blue;

            &:enabled:not(:focus):hover {
                background-color: $blueHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($blue,10%);
            }
        }

        &.flat {
            @include no-shadow();
        }
    }

    .ui-button.ui-state-default.ui-button-secondary, .ui-buttonset.ui-button-secondary > .ui-button.ui-state-default  {
        color: $textColor;
        background-color: $secondary;

        .ui-button-icon-left {
            color: $textSecondaryColor;
        }

        .ui-button-icon-right {
            color: $textSecondaryColor;
        }

        &:enabled:hover {
            @include hover-element();
        }

        &:enabled:focus {
            background-color: darken($secondary, 10%);
        }
    }

    .ui-button.ui-state-default.ui-button-info, .ui-buttonset.ui-button-info > .ui-button.ui-state-default  {
        background-color: $blue;

        &:enabled:hover {
            background-color: $blueHover;
        }

        &:enabled:focus {
            outline: 0 none;
            background-color: lighten($blue,10%);
        }
    }

    .ui-button.ui-state-default.ui-button-success, .ui-buttonset.ui-button-success > .ui-button.ui-state-default  {
        background-color: $green;

        &:enabled:hover {
            background-color: $greenHover;
        }

        &:enabled:focus {
            outline: 0 none;
            background-color: lighten($green,10%);
        }
    }

    .ui-button.ui-state-default.ui-button-warning, .ui-buttonset.ui-button-warning > .ui-button.ui-state-default  {
        color: $textColor;
        background-color: $amber;

        &:enabled:hover {
            background-color: $amberHover;
        }

        &:enabled:focus {
            outline: 0 none;
            background-color: lighten($amber,10%);
        }
    }

    .ui-button.ui-state-default.ui-button-danger, .ui-buttonset.ui-button-danger > .ui-button.ui-state-default  {
        background-color: $red;

        &:enabled:hover {
            background-color: $redHover;
        }

        &:enabled:focus {
            outline: 0 none;
            background-color: lighten($red,10%);
        }
    }

    .ui-buttonset:not(.ui-button-danger,ui-button-secondary,ui-button-success,ui-button-info,ui-button-warning) {
        .ui-button {
            &:not(.ui-state-disabled):not(.ui-state-active):hover {
                background-color: $primaryDarkColor;
            }

            &.ui-state-active {
                background-color: $accentColor;
                color: $accentTextColor;
            }
        }


        &.ui-button-danger {
            &:enabled:not(:focus):hover {
                background-color: $redHover;
            }

            &:focus {
                outline: 0 none;
                background-color: lighten($red,10%);
            }
        }
    }

    .ui-togglebutton {
        &:not(.ui-state-active):not(.ui-state-disabled):hover {
            background-color: $primaryDarkColor;
        }

        &.ui-state-active {
            background-color: $accentColor;
            color: $accentTextColor;
        }
    }

    .ui-splitbutton {
        @include border-radius($borderRadius + 1);
        -moz-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);
    	box-shadow: 0 1px 2.5px 0 rgba(0, 0, 0, 0.26), 0 1px 5px 0 rgba(0, 0, 0, 0.16);

        > .ui-button {
            @include no-shadow();

            &:active {
                background-color: lighten($primaryColor,10%);
            }
        }

        .ui-splitbutton-menubutton {
            height: 2.25em;
            @include border-radius-left(0);
            @include border-radius-right($borderRadius);
        }

        .ui-menu {
            width: 100%;
            min-width: 12.5em;
        }
    }

    .ui-fluid {
        .ui-splitbutton {
            .ui-button:first-child {
                width: calc(100% - 2em);
            }
        }
    }

    .ui-chkbox {
        display: inline-block;
        vertical-align: middle;
        line-height: 1.25em;
        width: 1.25em;
        height: 1.25em;
        cursor: default;

        .ui-chkbox-box {
            border: 2px solid $checkboxBorderColor;
            width: 1.25em;
            height: 1.25em;
            overflow: hidden;
            @include transition(background-color .3s);

            .ui-chkbox-icon {
                font-size: 1.25em;
                margin-left: -2px;
                margin-top: -2px;
            }

            &.ui-state-active {
                border-color: $primaryColor;
                background-color: $primaryColor;
            }

            &.ui-state-focus {
                border-color: $primaryColor;
                @include content-shadow();
                @include transition(box-shadow .3s,background-color .3s);
            }
        }
    }

    .ui-chkbox-label {
        margin-left: $inlineSpacing;
    }

    .ui-radiobutton {
        position: relative;
        margin: 0 .25em 0 0;
        vertical-align: middle;

        .ui-radiobutton-box {
            border: 2px solid $radioButtonBorderColor;
            width: 1.25em;
            height: 1.25em;
            @include transition(box-shadow .3s);
            @include border-radius(50%);

            &.ui-state-focus {
                border-color: $primaryColor;
                @include content-shadow();
                @include transition(box-shadow .3s,background-color .3s);
            }

            &.ui-state-active {
                border-color: $primaryColor;
                background-color: transparent;
            }

            .ui-radiobutton-icon {
                display: block;
                box-sizing: border-box;
                @include border-radius(50%);
                font-size: 1em;
                transition: -webkit-transform ease .28s;
                transition: transform ease .28s;
                -webkit-transform: scale(0);
                transform: scale(0);
                margin: 0;
            }

            .pi-circle-on {
                &.pi:before {
                    content: "circle";
                }
                background-color: $primaryColor;
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
                top: 50%;
                left: 50%;
                margin-top: -.5em;
                margin-left: -.5em;
            }
        }
    }

    .ui-radiobutton-label {
        margin-left: $inlineSpacing;
    }

    .ui-autocomplete-panel {
        @include border-radius(0);

        &.ui-shadow {
            @include overlay-input-shadow();
        }

        .ui-autocomplete-list {
            padding: 0;

            .ui-autocomplete-list-item {
                @include transition(background-color .3s);
                font-size: $inputOptionFontSize;
                padding: $inputOptionPadding;
                @include border-radius(0);
                color: $textColor;

                .ui-autocomplete-query {
                    font-weight: 700;
                }

                &.ui-state-highlight {
                    color: $accentTextColor;
                }
            }

            .ui-autocomplete-group {
                padding: $inputOptionPadding;
            }
        }
    }

    .ui-autocomplete {
        .ui-autocomplete-dropdown {
            &.ui-button.ui-button-icon-only {
                background-color: transparent;
                @include no-shadow();
                height: 1.5em;
                width: 1.5em;
                padding: 0;
                right: 0;
                bottom: 0;
                margin-right: 0;
                position: absolute;

                .ui-button-text {
                    display: none;
                }

                .pi {
                    color: $textSecondaryColor;
                }
            }
        }

        &.ui-autocomplete-multiple {
            .ui-autocomplete-multiple-container {
                &.ui-inputtext {
                    box-sizing: border-box;
                    padding: 2px;
                }

                &.ui-state-disabled {
                    border-bottom: 1px dotted;
                }
            }

            .ui-autocomplete-input-token {
                float: none;
                display: inline-block;
                margin: 0 1px;
                vertical-align: middle;

                > input {
                    padding: 0;
                    font-size: $fontSize;
                    margin: 0;
                    vertical-align: bottom;
                }
            }

            .ui-autocomplete-token {
                display: inline-block;
                float: none;
                vertical-align: middle;
                font-size: 1em;

                .ui-autocomplete-token-label {
                    display: inline-block;
                    vertical-align: middle;
                }
            }

            .ui-autocomplete-dropdown {
                top: .75em;
            }
        }
    }

    .ui-fluid {
        .ui-autocomplete {
            &.ui-autocomplete-dd {
                > .ui-inputtext {
                    width: 100%;
                }
            }
        }
        .ui-inputgroup{
            .md-inputfield {
                .ui-autocomplete{
                    top: 5px;
                }
            }
        }
    }

    .ui-dropdown {
        border-width: 0;
        background: transparent no-repeat;
        background-image: linear-gradient(to bottom, $primaryColor, $primaryColor), linear-gradient(to bottom, $inputBorderColor, $inputBorderColor);
        background-size: 0 2px, 100% 1px;
        background-position: 50% 100%, 50% 100%;
        transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
        padding-bottom: 2px;
        box-sizing: border-box;
        @include border-radius(0);

        .ui-dropdown-trigger {
            height: 1.5em;
            width: 1.5em;
            margin-top: 0;
            padding: 0;
            top: 2px;
            margin-right: 0;

            .pi {
                color: $textSecondaryColor;
            }
        }

        .ui-dropdown-label {
            background: none;
            &.ui-inputtext {
                font: $inputFontSize "Roboto","Helvetica Neue",sans-serif;
            }
        }

        &:not(.ui-state-disabled).ui-state-focus {
            border-width: 0;
            background-size: 100% 2px, 100% 1px;
            padding-bottom: 2px;

            .ui-dropdown-label {
                padding-bottom: 2px;
            }
        }
    }

    .ui-dropdown-panel {
        @include border-radius(0);

        .ui-dropdown-list {
            padding: 0;
        }

        .ui-dropdown-item {
            margin: 0;
            font-size: $inputOptionFontSize;
            padding: $inputOptionPadding;
            color: $textColor;
            @include transition(background-color .3s);
            @include border-radius(0);

            &.ui-state-highlight {
                background-color: $accentColor;
                color: $accentTextColor;
            }

            &:not(.ui-state-highlight):not(.ui-state-disabled):hover {
                @include hover-element();
            }
        }

        &.ui-shadow {
            @include overlay-input-shadow();
        }

        .ui-dropdown-filter-container {
            display: block;
            border-bottom: 1px solid $inputBorderColor;
            background-color: $primaryColor;
            padding: $inputHeaderPadding;

            input {
                color: $inputListItemFilterTextColor;

                &:focus {
                    border-bottom-color: $inputListItemFilterTextColor;
                }
            }

            .pi {
                top: .325em;
                right: .75em;
                color: $inputListItemFilterTextColor;
            }
        }
    }

    .ui-multiselect {
        border-bottom: 1px solid $inputBorderColor;
        box-sizing: border-box;
        @include border-radius(0);
        @include transition(border-color .3s);

        .ui-multiselect-label-container {
            padding-right: 1.5em;

            .ui-multiselect-label {
                padding: 0px 2px 0px 2px;
            }
        }

        .ui-multiselect-trigger {
            height: 1.5em;
            width: 1.5em;
            margin-top: 0;
            padding: 0;
            top: -2px;

            .pi {
                color: $textSecondaryColor;
            }
        }

        &:not(.ui-state-disabled).ui-state-focus {
            border-bottom: 2px solid $primaryColor;
        }
    }

    .ui-multiselect-panel.ui-widget {
        padding: 0;
        @include border-radius(0);
        @include overlay-input-shadow();
        min-width: 12.5em;

        .ui-multiselect-header {
            @include border-radius(0);
            padding: $inputHeaderPadding;
            position: relative;

            .ui-chkbox {
                float: none;
                margin: 0 .5em 0 -.125em;
                position: static;

                .ui-chkbox-box {
                    border-color: $inputListItemCheckboxBorderColor;

                    .ui-chkbox-icon {
                        border-color: $inputListItemFilterTextColor;
                    }

                    &.ui-state-active {
                        .ui-chkbox-icon {
                            border-color: $inputListItemFilterTextColor;
                        }
                    }

                    &.ui-state-focus {
                        background-color: $primaryLightColor;
                        @include transition(background-color .3s);
                    }
                }
            }

            .ui-multiselect-filter-container {
                width: 70%;
                display: inline-block;
                vertical-align: middle;
                float: none;
                margin-left: 0;

                .pi {
                    top: 0;
                    left: 0;
                }

                .ui-inputtext {
                    padding: 2px;
                    padding-left: 1.5em;
                    width: 100%;
                    box-sizing: border-box;
                    color: $inputListItemFilterTextColor;

                    &:focus {
                        border-bottom-color: $inputListItemFilterTextColor;
                    }
                }
            }

            .ui-multiselect-close {
                position: absolute;
                right: .5em;
                top: .625em;
                height: 1.5em;
                width: 1.5em;

                span {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 1em;
                    height: 1em;
                    margin-top: -.5em;
                    margin-left: -.5em;
                    color: $inputListItemFilterTextColor;
                }

                &:hover {
                    background-color: $primaryLightColor;
                    @include border-radius(50%);
                    @include transition(background-color .3s);
                }
            }
        }

        .ui-multiselect-item {
            font-size: $inputOptionFontSize;
            padding: $inputOptionPadding;
            color: $textColor;
            @include border-radius(0);

            &:not(.ui-state-highlight):not(.ui-state-disabled):hover {
                @include hover-element();
            }

            &.ui-state-highlight {
                color: $accentTextColor;
            }
        }
    }

    .ui-spinner {
        .ui-spinner-button {
            width: 1em;
            height: .75em;
            padding: 0;
            margin-right: .25em;
            background-color: transparent;
            color: $textColor;
            z-index: auto;
            @include no-shadow();

            .pi-triangle-1-n {
                color: $textColor;
            }

            .pi-triangle-1-s {
                color: $textColor;
            }

            .pi {
                top: 0px;
                height: .5em;
                color: $textSecondaryColor;
            }

            &:enabled:hover,
            &:active {
                background-color: transparent;
            }
        }

        .ui-spinner-up {
            .pi {
                top: .25em;
            }
        }

        .ui-spinner-down {
            .pi {
                top: .167em;
            }
        }

        .ui-spinner-input {
            padding-right: 30px;
        }
    }

    .ui-fluid {
        .ui-spinner {
            .ui-spinner-button {
                width: 1em;
                height: .75em;

                .pi {
                    left: auto;
                }
            }
        }
    }

    .ui-inputswitch {
        height: 14px;
        width: 34px !important;

        .ui-inputswitch-slider {
            background-color: rgb(158,158,158);
            @include border-radius(8px);
            @include transition(background-color .3s);

            &:before {
                background-color: $inputSwitchOffHandleBgColor;
                height: 1.429em;
                width: 1.429em;
                left: 0;
                bottom: -0.214em;
                border-radius: 50%;
                -webkit-transition: $transitionDuration;
                transition: $transitionDuration;
                -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
                -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.137255) 0px 1px 1px 0px, rgba(0, 0, 0, 0.117647) 0px 2px 1px -1px;
            }
        }

        &.ui-inputswitch-checked {
            .ui-inputswitch-slider:before {
                -webkit-transform: translateX(1.250em);
                -ms-transform: translateX(1.250em);
                transform: translateX(1.250em);
            }
        }

        &.ui-inputswitch-focus {
            .ui-inputswitch-slider {
                background-color: rgb(158,158,158);
            }
        }

        &:not(.ui-state-disabled):hover {
            .ui-inputswitch-slider {
                background-color: rgb(158,158,158);
            }
        }

        &.ui-inputswitch-checked {
            .ui-inputswitch-slider {
                background-color: $accentLightColor;

                &:before {
                    background-color: $accentColor
                }
            }

            &:not(.ui-state-disabled):hover {
                .ui-inputswitch-slider {
                    background-color: $accentLightColor;
                }
            }

            &.ui-inputswitch-focus {
                .ui-inputswitch-slider {
                    background: $accentLightColor;
                }
            }
        }
    }

    .ui-slider {
        .ui-slider-handle {
            background-color: $accentColor;
            color: $accentTextColor;
            @include border-radius(50%);
            width: 1.25em;
            height: 1.25em;
            transform: scale(.7);
            @include transition(all .4s cubic-bezier(.25,.8,.25,1));

            &.ui-state-focus {
                transform: scale(1);
            }

            &:focus {
                outline: 0 none;
            }
        }

        &.ui-slider-horizontal {
            height: 2px;
            border: 0 none;
            background-color: $inputBorderColor;

            .ui-slider-handle {
                top: -.55em;
            }
        }

        &.ui-slider-vertical {
            width: 2px;
            border: 0 none;
            background-color: $inputBorderColor;

            .ui-slider-handle {
                left: -.55em;
            }
        }

        .ui-slider-range {
            background-color: $accentColor;
            color: $accentTextColor;
        }

        &:not(.ui-state-disabled) {
            .ui-slider-handle {
                &:hover {
                    transform: scale(1);
                }
            }
        }
    }

    .ui-calendar {
        .ui-datepicker {
            min-width: auto;
        }
        .ui-datepicker-trigger {
            bottom: 2px;
            right: 0;
            background-color: transparent;
            color: $textColor;
            height: 1.5em;
            width: 1.5em;
            @include no-shadow();
            @include border-radius(0);

            .pi {
                color: $textSecondaryColor;
            }

            &:enabled:hover {
                background-color: transparent;
            }
        }
    }

    .ui-fluid {
        .ui-calendar.ui-calendar-w-btn {
            .ui-inputtext {
                width: 100%;
            }
        }
    }

    .ui-datepicker {
        padding: 0;
        width: 20em;

        &.ui-shadow {
            @include overlay-input-shadow();
        }

        &:not(.ui-state-disabled) {
            .ui-datepicker-header {
                .ui-datepicker-prev,
                .ui-datepicker-next {
                    &:hover {
                        background-color: $primaryLightColor;
                    }
                }
            }

            table {
                td {
                    a:not(.ui-state-active):not(.ui-state-highlight):hover {
                        @include hover-element();
                    }
                }
            }

            .ui-monthpicker {
                a.ui-monthpicker-month:not(.ui-state-active):hover {
                    @include hover-element();
                }
            }
        }

        .ui-datepicker-header {
            padding: $inputHeaderPadding;
            font-size: $inputHeaderFontSize;
            background: $primaryDarkColor;
            border-color: $primaryDarkColor;
            @include border-radius-top(2px);
            @include border-radius-bottom(0);

            .ui-datepicker-prev {
                cursor: pointer;
                top: .4em;
                left: .2em;
                @include border-radius(50%);
                @include material-icon("keyboard_arrow_left");
                @include transition(background-color .3s);
                color: $calendarNavIconColor;

                .pi {
                    display: none;
                }
            }

            .ui-datepicker-next {
                cursor: pointer;
                top: .4em;
                right: .2em;
                @include material-icon("keyboard_arrow_right");
                @include border-radius(50%);
                @include transition(background-color .3s);
                color: $calendarNavIconColor;

                .pi {
                    display: none;
                }
            }

            select.ui-datepicker-month,
            select.ui-datepicker-year {
                font-size: $fontSize - 2;
            }
        }

        table {
            table-layout: fixed;
            border-spacing: 0;
            border-collapse: collapse;
            font-size: $fontSize - 2;
        }

        thead {
            tr {
                color: $calendarCellTextColor;
                background: $primaryColor;
            }
        }

        tbody {
            td {
                padding: .25em .125em;
                box-sizing: border-box;

                &.ui-datepicker-today {
                    a {
                        color: $calendarCellTextColor;
                        background: lighten($primaryColor,20%);

                        &.ui-state-active {
                            background-color: $accentColor;
                            color: $accentTextColor;
                        }
                    }
                }

                a {
                    padding: .25em;
                    margin: 0;
                    text-align: center;
                    color: $textColor;
                    display: inline-block;
                    height: 2.250em;
                    width: 2.250em;
                    @include border-radius(50%);
                    line-height: 1.8em;

                    &.ui-state-active {
                        background-color: $accentColor;
                        color: $accentTextColor;
                    }

                    span {
                        display: inline;
                        padding: 0;
                        text-align: center;
                    }
                }
            }
        }

        .ui-timepicker {
            @include border-radius(0);

            > div {
                a {
                    height: 1.5em;

                    > span {
                        display: inline-block;
                        margin-bottom: .25em;
                    }

                    .pi {
                        &.pi-angle-up {
                            @include rotate(0);
                            @include material-icon("keyboard_arrow_up");
                        }

                        &.pi-angle-down {
                            @include rotate(0);
                            @include material-icon("keyboard_arrow_down");
                        }
                    }
                }
            }
        }

        .ui-monthpicker {
            .ui-monthpicker-month {
                color: $textColor;

                &.ui-state-active {
                    color: $accentTextColor;
                    background-color: $accentColor;
                }
            }
        }

        &.ui-datepicker-multiple-month {
            width: auto;
            .ui-datepicker-group {
                border-right: 1px solid $dividerColor;
                padding-top: 0;
                padding-bottom: 0;

                .ui-datepicker-calendar-container {
                    tbody {
                        padding-right: .25em;
                        padding-left: .25em;
                    }
                }

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                    border-right: 0 none;
                }
            }
        }
    }

    #ui-datepicker-div {
        @include overlay-input-shadow();
    }

    .ui-rating {
        font-size: inherit;
        min-height: 1.5em;

        .pi-ban {
            @include material-icon("cancel");
            color: $textSecondaryColor;
        }

        .pi-star {
            @include material-icon("star");
            color: $textSecondaryColor;
        }

        .pi-star-o {
            @include material-icon("star_border");
            color: $textSecondaryColor;
        }
    }

    .ui-chips {
        > ul.ui-inputtext {

            &.ui-state-disabled {
                border-bottom: 1px dotted;
            }

            .ui-chips-input-token {
                padding-bottom: 2px;
                margin-bottom: 2px;

                > input {
                    padding: 0;
                    font-size: $fontSize;
                    margin: 0;
                    vertical-align: bottom;
                }

                input:disabled {
                    width: 0;
                }
            }

            .ui-chips-token {
                display: inline-block;
                float: none;
                vertical-align: middle;
                font-size: 1em;
                margin-bottom: 2px;

                .ui-chips-token-label {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }
    }

    .ui-password-panel {
        &.ui-shadow {
            @include overlay-input-shadow();
        }
    }

    .ui-fileupload {
        .ui-fileupload-buttonbar {
            padding: $headerPadding;

            .pi-arrowreturnthick-1-n {
                @include icon_override('file_upload');
            }

            .ui-button {
                background-color: $accentColor;

                &:enabled:hover {
                    background-color: $accentDarkColor;
                }
            }
        }

        .ui-fileupload-content {
            .ui-messages-error {
                .pi {
                    color: $errorMessageTextColor;
                }
            }
        }
    }

    .ui-fileupload-choose:not(.ui-state-disabled):hover,
    .ui-fileupload-choose.ui-state-focus {
        &.ui-button {
            background-color: darken($accentColor, 5%);
        }
    }

    .ui-fileupload-choose:not(.ui-state-disabled):active {
        &.ui-button {
            background-color: darken($accentColor, 10%);
        }
    }

    .ui-editor-container {
        .ui-editor-toolbar {
            background-color: $editorHeaderBgColor;
        }
    }

    /* InputGroup */
    .ui-inputgroup {
        .ui-inputgroup-addon {
            &.ui-inputgroup-addon-fill {
                background-color: $inputFieldFillBgColor;
            }
            border-width: 0 0 1px 0;
            border-color: $inputBorderColor;
            color: $textSecondaryColor;
            padding: 2px 2px 1px 2px;
            align-self: flex-end;

            > i {
                @include flex();
                align-self: flex-end;
            }
        }

        .ui-inputtext {
            align-self: flex-end;
        }

        .md-inputfield {
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            width: 1%;
            display: inherit;

            label {
                top: 5px;
            }
            .ui-inputwrapper-filled ~ label {
                top:-20px;
            }
            .ui-inputwrapper-focus ~ label {
                top:-20px;
            }

            .ui-message {
                top: 100%;
            }
        }

        .ui-chkbox, .ui-radiobutton {
            margin-bottom: .125em;
        }
    }

    .ui-selectbutton {
        .ui-button {
            &:not(.ui-state-active):not(.ui-state-disabled):hover {
                background-color: $primaryDarkColor;
            }

            &.ui-state-active {
                background-color: $accentColor;
                color: $accentTextColor;
            }
        }
    }

    .ui-fluid {
        .ui-inputgroup {
            .ui-button-icon-only {
                width: 1.643em;
                height: 1.643em;
                padding: 0;

                .ui-button-icon-left {
                    margin-left: -.45em;
                }
            }
        }
    }

    /* Validation */
    .ui-inputtext.ng-dirty.ng-invalid,
    p-dropdown.ng-dirty.ng-invalid > .ui-dropdown,
    p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext,
    p-calendar.ng-dirty.ng-invalid > .ui-calendar > .ui-inputtext,
    p-chips.ng-dirty.ng-invalid > .ui-inputtext,
    p-inputmask.ng-dirty.ng-invalid > .ui-inputtext,
    p-checkbox.ng-dirty.ng-invalid .ui-chkbox-box,
    p-radiobutton.ng-dirty.ng-invalid .ui-radiobutton-box,
    p-inputswitch.ng-dirty.ng-invalid .ui-inputswitch,
    p-listbox.ng-dirty.ng-invalid .ui-inputtext,
    p-multiselect.ng-dirty.ng-invalid > .ui-multiselect,
    p-spinner.ng-dirty.ng-invalid > .ui-inputtext,
    p-selectbutton.ng-dirty.ng-invalid .ui-button,
    p-togglebutton.ng-dirty.ng-invalid .ui-button {
        background-image: linear-gradient(to bottom, $inputBorderErrorColor, $inputBorderErrorColor), linear-gradient(to bottom, $inputBorderErrorColor, $inputBorderErrorColor);
    }
}

@media (max-width: 640px) {
    body {
        .ui-buttonset {
            > .ui-button {
                display: block;
                @include border-radius(0);

                &:first-child {
                    @include border-radius-top($borderRadius);
                }

                &:last-child {
                    @include border-radius-bottom($borderRadius);
                }
            }
        }
        .ui-splitbutton {
            > .ui-button {
                display: inline-block;

                &:first-child {
                    @include border-radius-top(0);
                }

                &:last-child {
                    @include border-radius-bottom(0);
                }
            }
        }
    }
}
