<p-confirmDialog></p-confirmDialog>
<div class="ui-g ui-fluid">
  <div class="ui-g-12">
    <div class="card">
      <div class="ui-g">
        <div class="ui-g-4">
          <span class="ui-float-label">
            <input
              id="float-input"
              type="text"
              size="30"
              [(ngModel)]="filtro.nomeProduto"
              pInputText
            >
            <label for="float-input">Nome do Produto</label>
          </span>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="ui-g">
        <p-table
          [value]="ofertas"
          [paginator]="true"
          [rows]="10"
          [responsive]="true"
        >
          <ng-template pTemplate="caption">
            <button
              pButton
              type="button"
              pTooltip="Novo"
              [routerLink]="['/oferta','novo']"
              tooltipPosition="top"
              icon="pi pi-plus"
              class="ui-button-raised ui-button-success"
            ></button>
            <button
              pButton
              type="button"
              pTooltip="Pesquisar"
              (click)="consultar(filtro)"
              tooltipPosition="top"
              icon="pi pi-search"
              class="ui-button-raised ui-button-info"
            ></button>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th>Img</th>
              <th style="width: 91px;">Codigo</th>
              <th>Descricão</th>
              <th>Produto</th>
              <th>Periodo da Oferta</th>
              <th>Preço Oferta</th>
              <th>Preço Anterior</th>
              <th>Ação</th>
            </tr>
          </ng-template>
          <ng-template
            pTemplate="body"
            let-oferta
          >
            <tr>
              <td>
                <img
                  style="width: 100%;"
                  src="{{oferta.imagem}}"
                  alt="Sem imagem"
                >
              </td>
              <td>{{oferta.id}}</td>
              <td>{{oferta.descricao}}</td>
              <td>{{oferta.nomeProduto}}</td>
              <td>{{oferta.periodoOferta}}</td>
              <td>
                {{oferta.precoOferta | currency: 'R$' :true:'1.2-2'}}
              </td>
              <td>
                {{oferta.precoAnterior | currency: 'R$' :true:'1.2-2'}}
              </td>
              <td>
                <button
                  pButton
                  [routerLink]="['/oferta',editarOferta(oferta)]"
                  type="button"
                  icon="pi pi-pencil"
                  pTooltip="Editar"
                  tooltipPosition="top"
                  class="ui-button-warning"
                ></button>
                <button
                  pButton
                  (click)="excluirOferta(oferta)"
                  type="button"
                  icon="pi pi-trash"
                  pTooltip="Excluir"
                  tooltipPosition="top"
                  class="ui-button-danger"
                ></button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">Nenhuma oferta.</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="summary">Existem {{ofertas?.length}} ofertas</ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>
